body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0%;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right , #a517ba,#a5645d);
    padding: 0 !important;
}
.navbar-brand{
    height: auto;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px !important;
}
.navbar-nav li a{
    color: white !important;
    font-weight: 100;
    padding: 10px;
}

      /* banner */
.banner{
    background-image: linear-gradient(to right , #a517ba,#a5645d) ;
    color: white;
    padding-top: 5%;
}
.promo-title{
    font-weight: 600;
    font-size: 40px;
    padding-top: 10px;
}
.play-btn{
    width: 50px;
    margin: 20px;
}
.banner a{
    text-decoration: none;
    color: white;
}
.bottom-img{
    width: 100%;
}

/* services */
#services{
    padding: 80 0;

}
.service-img{
    width: 100px;
    margin-top:20px ;
}
.services{
    padding: 20px;
}
.services h4{
    text-transform: uppercase;
    margin-top: 20px;
    padding: 5px;
    font-weight: 800;
}
.title::before{
    content: " ";
    background: #a517ba;
    width: 200px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translatey(63px);


}
.title::after{
    content: " ";
    background: #a517ba;
    width: 50px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px ;
    display: block;
    transform: translatey(8px);

}
#services .btn-primary{
    background-image: linear-gradient(to right , #a517ba,#a5645d);
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    box-shadow: none;
    margin-left: 44%;
}
     /* about us */

#About-us{
        background-color: honeydew;
        padding-top: 40px;
}
.about-title{
        font-size: 40px;
        padding-left: 30px;
        font-weight: 600;
        margin-top: 20px;
}
 #About-us ul li {
        padding: 10px 0px;
}
#About-us ul{
        margin-top: 10px;
    margin-bottom: 10px;
}
/* 
TESTIMONIAL SECTION */

#Testimonial{
    margin: 100px 0;
}
.testimonial{
    border-left: 5px solid #a517ba;
    margin-top: 50px;
    margin-bottom: 50px;

}
#Testimonial img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.user{
    display: inline-block;
    font-size: 12px;
}

/* SOCIAL MEDIA SECTION */

#social-media p{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.social-icons img{
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img {
    transform: translateY(-10px);
}

/* FOOTER SECTION */
#footer{
    background-image: linear-gradient(to right , #a517ba,#a5645d) ;
    color: white;
}
.img2{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .form-control{
    box-shadow: none;
    border: none;
    max-width: 250px;
    border-radius: none;
    margin-top: 25px;
}
.footer-box .btn-primary{
    background-image:linear-gradient(to right , #a517ba,#a5645d)  ;
    box-shadow: none;
    border:none;
    border-radius: none;
    margin-top: 20px;


}
.end{
    text-align: center;
}